.watch-title {
	font-size: 1.5rem;
	//font-weight: 400;
}

.playlist .media{
	border-bottom: solid 1px $gray-lighter;
	border-top: solid 1px $gray-lighter;
	margin-top: -1px;
	&:hover {
		cursor: pointer;
		.video-title-link {
			text-decoration: underline;
			color: $blue;
		}
	}
}

.video-thumb {
	max-width: 96px;
	height: auto;
}

.video-title {
	font-size: 1rem;
	font-weight: 500;
}

.playlist-index {
	padding-right: 1rem;
}

.pagination {
	font-size: 0.85rem;
}