//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,300,400,500,600');
@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'navbar';
@import 'videoPlaylist';

.bg-white {
	background-color: #fff;
}

small{
	font-weight: 300;
}

.page {
	display: block;
	&.hidden {
		display:none;
	}
}

#videos{
	.container {
	  padding-right: 0;
	  padding-left: 0; 
	}

	@media (max-width: 767px) {
		.container {
			width: 100%;
		}
	}

	@media (min-width: 768px) {
		.container {
	  		padding-right: 15px;
	  		padding-left: 15px; 
		}
	}
}
