//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,300,400,500,600');
@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'videoPlaylist';

.bg-white {
	background-color: #fff;
}

small{
	font-weight: 300;
}

.nav-link-container {
	width: 100%;
}

.navbar-toggler {
	top: 0.5rem;
	right: 1rem;
    font-size: 1.6rem;
    line-height: 1;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0;
}

.navbar-light .navbar-toggler {
	border-color: transparent;
}

.navbar-light .navbar-nav .active  {
	@media (min-width: 768px){
		position: relative;
		&::after{
		    content: '';
		    position: absolute;
		    bottom: -18px;
		    left: 50%;
		    width: 0;
		    height: 0;
		    margin-left: -10px;
		    border-left: 10px solid transparent;
		    border-right: 10px solid transparent;
		    border-top: 10px solid #fff;
		    clear: both;
		}
	}
}


.navbar-toggleable-sm .navbar-nav .nav-link {
	@media (min-width: 768px){
    	padding-right: 1.25rem;
    	padding-left: 1.25rem;
    }
}

.page {
	display: block;
	&.hidden {
		display:none;
	}
}

